<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N_U_T Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{{ url_for('static', filename='trust_logo.jpg') }}" alt="Trust Logo" width="100">
        <h1>NADAR URAVINMURAI TRUST</h1>
   </header>

    <!-- Navigation / Main Sections -->
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><a href="{{ url_for('show_notice') }}">Notice</a></li>
            <li><a href="{{ url_for('events')}}">Events</a></li>
            <li><a href="{{ url_for('mission')}}">Mission & Vision</a></li>
            <li><a href="{{ url_for('members')}}">Members</a></li>
            <li><a href="{{ url_for('address')}}">Address</a></li>
            <li><a href="{{ url_for('feedback')}}">Feedback</a></li>
        </ul>
    </nav>

    <footer>
        <p>About Me: Web Developer passionate about building for social causes.</p>
        <p>Previous Projects: Project 1, Project 2...</p>
    </footer>
</body>
</html>